name: NASA Project CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    env:
      CI: true
      MONGO_URL: mongodb://localhost/nasa
    strategy:
      matrix:
        node-version: [14.x, 16.x]
        mongodb-version: ['4.2', '4.4']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2  # Existing actions to checkout our source code
      - name: Use Node.js  ${{ matrix.node.version }}
        uses: actions/setup-node@v2  # action to setup different versions of node
        with: 
          node-version: ${{ matrix.node.version }}
      - name: MongoDB in GitHub Actions
        uses: supercharge/mongodb-github-action@1.10.0 # action from marketplace
        with:
          mongodb-version: {{matrix.mongodb-version}}
      - run: npm install
      - run: npm run build --prefix client
      - run: npm test